:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --button-blue-color: #2196f3;
  --button-hover-color: #188ce8;
  --main-hiro-color: #2f303a;
  --logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bgd-button-color: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: default;
}

img {
  display: block;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__main {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__list--contacts {
  display: flex;
  margin-left: auto;
}

.logo,
.header__link {
  display: block;
  cursor: pointer;
}

.current.header__link.main::after {
  width: 48px;
}

.current.header__link::after {
  position: relative;
  bottom: -31px;
  content: "";
  display: block;
  width: 78px;
  height: 4px;
  background: var(--button-blue-color);
  border-radius: 2px;
}

/* =========SVG======================== */
.link-contact-icon:first-child {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.icon-phone.link-contact-icon {
  width: 10px;
  height: 16px;
}

.link-contact:hover .link-contact-icon,
.link-contact:focus .link-contact-icon {
  fill: var(--button-blue-color);
}

.header__list--contacts .header-list-contacts + .header-list-contacts {
  margin-left: 30px;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.colorword {
  color: var(--button-blue-color);
}

.logo {
  margin-right: 93px;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}

.header__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: var(--button-blue-color);
}

.link-contact:hover,
.link-contact:focus {
  color: var(--button-blue-color);
}

.current.header__link {
  color: var(--button-blue-color);
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/herobackground.jpg);
  max-width: 1600px;
  min-height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: var(--main-hiro-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button-hero {
  padding: 10px 32px;
  background-color: var(--button-blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hover-color);
}

.advantage-list {
  display: flex;
}

.advantage-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bgd-button-color);
  border-radius: 4px;
}

.advantage-picture {
  width: 70px;
  height: 70px;
}

.advantage {
  padding-top: 94px;
}

.advantage-list .advantage-list-item + .advantage-list-item {
  margin-left: 30px;
}

.advantage-list-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.work-list,
.team-list {
  display: flex;
}

.work-list .work-list-item + .work-list-item,
.team-list .team-list-item + .team-list-item {
  margin-left: 30px;
}

.team-container {
  padding: 30px 32px;
}

.team-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-align: center;
}

.team-title-proffesion {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bgd-button-color);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list-item {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list_item > .social-list_item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list_item-link:hover,
.social-list_item-link:focus {
  background-color: var(--button-blue-color);
}

.social-list_item-link:hover .social-list-icon,
.social-list_item-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

.work-image-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.work-img-wrapper {
  position: relative;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
}

.clients-picture {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background: var(--primary-white-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box-link:hover .clients-picture,
.clients-box-link:focus .clients-picture {
  fill: #2196f3;
}

.clients-box-link:hover,
.clients-box-link:focus {
  border: 1px solid #2196f3;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  padding-bottom: 16px;
}

.portfolio-button {
  padding: 6px 22px;
  background-color: var(--bgd-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-button .portfolio-list-item + .portfolio-list-item {
  margin-left: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--button-blue-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.portfolio-button.current {
  background-color: var(--button-blue-color);
  color: var(--primary-white-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: -30px;
  margin-left: -30px;
  background: var(--primary-white-color);
}

.portfolio-list-line {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.portfolio-link:hover,
.portfolio-link:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-image {
  max-width: 100%;
  height: auto;
}

.portfolio-container {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  /* overflow: auto; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

.footer {
  background-color: var(--main-hiro-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-link {
  display: block;
  margin-bottom: 20px;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:active {
  color: var(--primary-white-color);
}

.address > a.link {
  color: var(--primary-white-color);
}

.footer-list .footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address > a.footer-link {
  margin-bottom: 9px;
}

.footer-strong {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 206px;
  height: 44px;
}

.footer-social-list_item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon-footer {
  width: 20px;
  height: 20px;
}

.footer-social-list_item-link:hover,
.footer-social-list_item-link:focus {
  background: var(--button-blue-color);
}

.footer-main {
  display: flex;
  justify-content: baseline;
}

.footer-one {
  margin-right: 70px;
}

.footer-second {
  margin-top: 12px;
  margin-right: 93px;
}

.footer-third {
  margin-top: 12px;
}

.footer-form {
  display: flex;
  justify-content: center;
}

.footer-email-input {
  /* display: block; */
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  position: relative;
  padding-top: 10px;
  padding-left: 29px;
  padding-bottom: 10px;
  padding-right: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  background: var(--button-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover {
  background: var(--button-hover-color);
}

.telegram-btn-icon {
  position: absolute;
  top: 13px;
  right: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-modal-close-img {
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover .btn-modal-close-img {
  fill: var(--button-blue-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5);
}

.modal-form-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.btn-modal-send {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--button-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-send:hover {
  background: #188ce8;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--button-blue-color);
}

.modal-form-input:focus + .modal-form-input-img {
  fill: var(--button-blue-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--button-blue-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: #757575;
}

.modal-form-label-link {
  color: var(--button-blue-color);
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border: 1px solid var(--button-blue-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/svg/check.svg);
  border: none;
}
/*# sourceMappingURL=main.css.map */