.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--primary-white-color);
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  padding-bottom: 16px;
}

.portfolio-button {
  padding: 6px 22px;

  background-color: var(--bgd-button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  cursor: pointer;

  border-radius: 4px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-button .portfolio-list-item + .portfolio-list-item {
  margin-left: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--button-blue-color);
  color: var(--primary-white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}

.portfolio-button.current {
  background-color: var(--button-blue-color);
  color: var(--primary-white-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: -30px;
  margin-left: -30px;

  background: var(--primary-white-color);
}

.portfolio-list-line {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.portfolio-link:hover,
.portfolio-link:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-image {
  max-width: 100%;
  height: auto;
}

.portfolio-container {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  /* overflow: auto; */

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}
