h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: default;
}

img {
  display: block;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
